[user]
	name = Eric Wald
	email = eswald@gmail.com
[alias]
	w = !git branch -a && git log --branches --pretty=oneline --graph --decorate --since='2 months ago'
	where = !git branch -a && git log --branches --oneline --graph --decorate --simplify-by-decoration --since='2 months ago'
	st = status
	ci = commit
	logk = log --graph --date-order --pretty=format:\"%h %ae: %s\" --decorate --abbrev-commit
	glog = log --graph --date-order --pretty=format:\"%h %ae: %s\"
	info = log -1 --oneline
	list = ls-files
	ls = ls-files
	ignored = ls-files --others --ignored --exclude-standard --directory
	cleanable = clean -dXn
[core]
	excludesfile = /home/eswald/.config/gitignore
[color]
	ui = auto
