[user]
	name = Eric Wald
	email = eswald@gmail.com
[alias]
	w = !git branch -a && git log --branches --pretty=oneline --graph --decorate --since='2 months ago'
	where = !git branch -a && git log --branches --oneline --graph --decorate --simplify-by-decoration --since='2 months ago'
	sh = show --stat --summary
	st = status -sb
	co = clone
	lg = log --graph --date-order --decorate --oneline
	le = log --graph --pretty=format:'%C(yellow)%h%Creset - %C(green)%an%C(cyan)%d%Creset %s (%cr)' --abbrev-commit --date-order --decorate
	lb = log --graph --pretty=format:'%C(yellow)%h%Creset - %C(cyan)<%an>%Creset%C(auto)%d%Creset %s %C(blue)(%cr)%Creset' --abbrev-commit --date-order --decorate --branches
	lgg = log --graph --pretty=format:'%C(yellow)%h%Creset - %C(cyan)<%an>%Creset%C(auto)%d%Creset %s %C(blue)(%cr)%Creset' --abbrev-commit --date-order --decorate
	info = log -1 --oneline
	list = ls-files
	ls = !git ls-files \"$@\" | less -FiRSn && :
	ignored = ls-files --others --ignored --exclude-standard --directory
	cleanable = clean -dXn
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
	cached = diff --cached
	dc = diff --cached
	ds = diff --staged
	glog = log --graph --date-order --pretty=format:\"%h %ae: %s\" --decorate --abbrev-commit
[core]
	excludesfile = ~/.config/gitignore
[color]
	ui = auto
[pack]
	windowMemory = 1g
[push]
	default = tracking
[diff "cp437"]
	textconv = iconv -f cp437 -t utf8
[diff "mp3"]
	textconv = id3info
	cachetextconv = true
[url "ssh://git@heroku.com/"]
	insteadOf = https://git.heroku.com/
