[user]
	name = Eric Wald
	email = eswald@gmail.com
[alias]
	w = !git branch -a && git log --branches --pretty=oneline --graph --decorate --since='2 months ago'
	where = !git branch -a && git log --branches --oneline --graph --decorate --simplify-by-decoration --since='2 months ago'
	st = status -s
	ci = commit
	co = clone
	lg = log --graph --date-order --decorate --oneline
	info = log -1 --oneline
	list = ls-files
	ls = !git ls-files \"$@\" | less -FiRSn && :
	ignored = ls-files --others --ignored --exclude-standard --directory
	cleanable = clean -dXn
	uncommit = reset --soft HEAD^
	unstage = reset HEAD --
	cached = diff --cached
	dc = diff --cached
[core]
	excludesfile = /home/eswald/.config/gitignore
[color]
	ui = auto
