# Control-w should stop at slashes as well as whitespace.
"\C-w": unix-filename-rubout

# Avoid stray character sequences.
"\e[": skip-csi-sequence
"\M-[": skip-csi-sequence

# Completed directory names have a slash appended.
set mark-directories on

# So do symlinks to directories.
set mark-symlinked-directories on

# Ignore case for completing filenames.
set completion-ignore-case on

# Let underscore and hyphen match each other, too.
set completion-map-case on

# Don't complain so loudly.
set bell-style visible
