# MySQL client settings

[mysql]
# Page interactive mysql sessions.
pager

# Show international characters properly.
# (This might want to check the environment, though.)
default-character-set=utf8

# Something resembling my bash prompt.
# Sadly, the coloration messes up ^R searches.
prompt="-- [0;36mmysql://\u@\h/\d>[m\_"
